#boody{
	background-color: #424bca;
	color: white;
}
#roof{
	background-color: #422bca;
	color: white;
}

#look{
	background-color: #422bca;
	color: black;
}

#loca{
	background-color: #422bca;
	color: white;
}

#yolo{
	background-color: #421bca;
	color: white;
}

#textboxx{
	color: black;
}

#yolt{
	background-color: #422bca;
	color: white;
}






